

@media screen and (min-width: 1024px) and (max-width: 1252px) {
    .bakery-singleshop-section {
      position: relative;
      padding: 80px 15px;
    }
  }
  @media screen and (min-width: 1023px) and (max-width: 1200px) {
    .bakery-checkout-section {
      position: relative;
      padding: 80px 0px;
    }
  
    .bakery_form_2 h2 {
      font-size: 38px;
    }
  }
  @media screen and (max-width:1200px) {
    .carousel-caption {
      top: 10%;
  }
  }
  @media screen and (max-width:991px) {
    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
        outline-offset: 3px;
    }
    .btn-2 {
        font-size: 14px;
        padding: 10px 26px;
    }
    .carousel-caption h4 {
        margin-bottom: 10px;
    }
    .carousel-caption h1 {
        margin-bottom: 15px;
        font-size: 35px;
    }
    .carousel-caption h4 {
        margin-bottom: 10px;
    }
    .carousel-item {
       max-height:400px;
    }
    .navbar-collapse {
      position: absolute;
      background: white;
      top: 117px;
      width: 100%;
      left: 0px;
      border-bottom: 10px solid #FFA500;
      z-index: 7777777;
  }
    .navbar-collapse .nav-link {
    padding: 15px 20px !important;
}
    section.bakery-cart-section form.apply-code-form input {
      width: 250px; 
  }
    .bakery-btn-style-one {  
      padding: 13px 40px; 
  }
    .hight_mention {
      min-height: auto;
      margin-bottom: 20px;
    }
    .bakery_form_2 h2 {
      margin-left: 40px;
    }
    .inpt10 {
      height: 50px !important;
  }
  .login {
    top: 13px;
  }
  .para01 {
    margin-top: 10px;
  }
  p.para01 {
    font-size: 15px;
  }
  /* blog details */
  section.bakery-blogdetails-section .blog_box p.paragraph02 {
    font-weight: 900;
    text-indent: 0px;
  }
  .event-content {
    margin-bottom: 15px;
  }
  .cart-item .nav-tabs {
    margin-top: 0px;
  }
  .nav-link {
    color: black;
}
  }
  @media screen and (max-width: 767px) {
    .email-phone-sec{
      display: flex;
      flex-direction: column;
      }
    section.bakery-blogdetails-section .blog_box p.paragraph02 {
      text-indent: 55px;
  }
    section.bakery-cart-section {
      padding: 100px 15px;
    }
    
    .bakery-cart-title{
      margin-bottom: 15px;
    }
    section.bakery-cart-section .bakery-cart-total-border h5 {
      font-size: 15px;
    }
    .shiping_form{
      margin-top: 25px;
    }
    section.bakery-cart-section .bakery-cart-total .bakery-head-ttitle h2 {
      margin-top: 0px !important;
    }
  
    form.bakery_form_1 .remembercode .form-group {
      margin-bottom: 10px;
      margin-left: -10px;
  }
  section.bakery-cart-section .bakery-cart-total .bakery-head-ttitle h2 {
    font-size: 25px;
  }
  section.bakery-cart-section .bakery-cart-total-border {
    padding: 20px 0;
  }
  .free_shiping br{
    display: none;
  }
  section.bakery-cart-section .bakery-table-product-img h3 {
    display: inline-block;
    margin: 10px 0px;
    font-size: 15px;
  }
  
  section.bakery-cart-section form.apply-code-form input {
    width: 150px;
    font-size: 11px;
    height: 42px;
  }
  .apply-code-form  .bakery-btn-style-one {
  font-size: 12px;
  padding: 13px 13px;
  height: 42px;
  }
  
  
  .bakery-checkout-section {
    padding: 60px 0px;
  }
  
  .heading-style-one {
    font-size: 40px;
  }
  
  form.bakery_form_1 .remembercode {
    display: block;
    margin-top: 20px;
  }
  
  .hight_mention {
    min-height: auto;
  }
  
  
  
  section.bakery-cart-section {
    padding: 60px 0px !important;
  }
  
  section.bakery-dtl-checf-section {
    padding: 60px 15px;
  }
  
  section.food-blog-section .comment_box.d-flex {
    display: block !important;
  }
  
  section.food-blog-section .comment_box_2 ul {
    justify-content: left !important;
  }
  
  section.food-blog-section .blog-text .comment_box ul li a {
    margin-left: 0;
    margin-right: 15px;
  } 
  
  section.bakery-shopproducts-section {
    padding: 60px 0px;
  }
  
  section.bakery-shopproducts-section {
    padding: 80px 0px;
  }
  
  section.bakery-blogdetails-section {
    padding: 50px 0px;
  }
  
  section.bakery-blogdetails-section .comment_box {
    flex-wrap: wrap;
    text-align: left;
  }
  
  section.bakery-blogdetails-section .blog_box .comment_box_2 ul {
    justify-content: left;
    margin-top: 15px;
  }
  
  section.bakery-blogdetails-section .comment_box_2 ul li {
    margin-left: 0;
    margin-right: 10px;
  }
  
  
  
  section.bakery-events-section {
    padding: 100px 15px 50px;
  }
  
  
  
  section.bakery-events-dtl-section {
    padding: 80px 0px;
  }
  
  section.bakery-events-dtl-section .event-right-side {
    margin-top: 35px;
  }
  
  section.bakery-gigs-section .gig-img {
    width: 100%;
    margin: auto;
  }
  /* cerckout */
  .table-bakery .table td {
  font-size: 15px;
  }
  .table-bakery .table td h6 {
  font-size: 15px;
  }
  .table-bakery h4 {
  font-size: 25px;
  }
  .table-bakery h2, .bakery_form_3 h2 {
  font-size: 30px;
  margin-top: 15px;
  }
  .bakery_form_2 h2 {
  font-size: 30px;
  }
  
  .inpt10 {
    height: 50px !important;
  }
  
  .login a {
  font-size: 10px !important;
  }
  .event_left_p{
  font-size: 14px;
  }
  ul.category {
  margin-bottom: 20px;
  margin-top: 15px;
  }
  section.bakery-events-dtl-section ul.footer-social-icons {
  margin-bottom: 10px;
  }
  ul.event-lists-sides li {
  padding: 15px 0;
  }
  ul.event-lists-sides li div h4 {
  font-size: 12px;
  }
  ul.event-lists-sides li div p, ul.event-lists-sides li div p a {
  font-size: 12px;
  }
  
  .event-section h5 {
  margin-bottom: 15px;
  }
  .pagination a{
  padding: 0px 8px !important;
  }
  section.bakery-blog-section .blog_box h2 {
  margin-top: 25px;
  }
  section.bakery-blog-section .blog_box h2 {
  font-size: 22px;
  }
  section.bakery-blog-section .blog_box p {
  font-size: 14px;
  }
  section.bakery-blog-section .blog_box ul {
  padding: 0px 0px 15px;
  }
  .pagination_area{
  text-align: center !important;
  }
  section.bakery-blog-section .sale_area_r h4 {
  padding-top: 10px;
  }
  .sale_area_r {
  text-align: center;
  }
  .paragraph01 {
  text-align: center !important;
   
  }
  .post_width {
  justify-content: center;
  }
  section.bakery-blog-section .share_boxlatest.share_box_mrgn h5 {
  width: 26%;
  }
  section.bakery-blogdetails-section .share_boxlatest.share_box_mrgn h5 {
  width: 26%;
  }
  .event-lists-sides li span i svg{
  width: 25px;
  height: 25px;
  }
  .shop_sec {
  padding: 50px 0px;
  }
  .snip1268 figcaption {
  padding: 0px 0px;
  }
  .cart-item .detail {
  font-size: 14px;
  }
  .cart-item h6 {
  color: #283233;
  font-size: 29px;
  }
  .price-value {
  font-size: 22px;
  }
  .cart-item {
  padding: 50px 0px 10px 0px;
  }
  .recommended-c {
  padding: 0px 0px;
  }
  .add-to-cart {
  margin-bottom: 20px;
  }
  .recommended-c .card-body .card-title span {
  font-size: 24px;
  }
  .recommended-c h4 {
  margin-bottom: 15px;
  }
  section.bakery-blog-section .blog_box ul li {
  font-size: 12px;
  }
  section.bakery-blog-section .blog_box ul li span {
  font-size: 12px;
  }
  section.bakery-blog-section .blog_box ul li a {
  font-size: 12px;
  }
  .wow_p{
  text-align: center !important;
  
  }
  section.bakery-blog-section .sale_area_r p {
  font-size: 14px;
  }
  section.bakery-blog-section .sale_area_r h6 {
  font-size: 14px;
  }
  section.bakery-blogdetails-section .blog_box p {
  font-size: 14px;
  }
  section.bakery-blogdetails-section .blog_box h2 {
  font-size: 22px;
  margin-top: 25px;
  }
  .comment_box .comment_box_l ul li span{
  font-size: 10px !important;
  }
  .comment_box .comment_box_l ul li{
  font-size: 10px !important;
  }
  .pull-right li a{
  font-size: 10px !important;
  }
  .form-left {
    padding: 50px 50px;
}
/* .veg-bucket-bg {
  height: 100% !important;
  min-height: 800px;
} */
/* .veg-bucket-bg {
  height: 100% !important;
  min-height: 600px;
} */
  }


  @media screen and (min-width: 768px) and (max-width:992px) {
    section.bakery-cart-section {
      padding: 100px 15px;
    }
    .accordion-section {
        padding: 50px 80px;
    }
   
  }
  @media screen and (max-width:575px) {
    .btn-2 {
        padding: 8px 20px;
    }
    .carousel-caption h1 {
        font-size: 28px;
    }
    .carousel-caption h4 {
        font-size: 16px;
    }
    .carousel-caption {
        top: 2%;
    }
    .navbar {
        padding: 10px 0;
    }
    .top-nav {
        padding: 10px 0;
    }
    .navbar-collapse {
        top: 106px;
    }
    .apply-code-form .bakery-btn-style-one {
      font-size: 9px;
      padding: 9px 13px;
      height: 39px;
  }
    section.bakery-cart-section form.apply-code-form input {
      width: 125px;
      margin-right: 2px;
  }
    section.bakery-blogdetails-section .sale_area_r .srch_box02 input.srch_input02 {
      height: 35px;
    }
    section.bakery-blogdetails-section .blog_box h2 {
      font-size: 22px;
      color: #1D1D1D;
      margin-top: 25px;
    }
    section.bakery-blogdetails-section .blog_box p {
      font-size: 14px;
      margin-bottom: 10px;
  }
  section.bakery-blogdetails-section .sale_area_r p {
    font-size: 14px;
  }
  section.bakery-blogdetails-section .sale_area_r h4 {
    margin-top: 15px;
  }
  section.bakery-blogdetails-section .sale_area_r h6 {
    font-size: 14px;
  }
  section.bakery-blogdetails-section .share_boxlatest.share_box_mrgn h5 {
    font-size: 12px;
    margin-left: 0px;
  }
  section.bakery-blogdetails-section .share_box_l h6 {
    font-size: 15px;
    text-align: left !important;
  }
  .bakery-blogdetails-section ul.footer-social-icons {
    justify-content: left !important;
  }
  section.bakery-cart-section .bakery-cart-total .bakery-head-ttitle h2 {
    margin-top: 0px !important;
  }
  
  
  section.bakery-cart-section {
    padding: 50px 0px !important;
  }
  section.bakery-cart-section .select2-container--default .select2-selection--single {
    margin-bottom: 10px !important;
  }
  .inpt9, .inpt10 {
    margin-bottom: 15px;
  }
  section.bakery-cart-section .bakery-table .table td, section.bakery-cart-section .bakery-table .table th {
    padding: 15px 0.75rem;
  }
  .inpt10 {
    height: 50px !important;
  }
  .login {
    top: 13px;
  }
  .login a {
    font-size: 10px !important;
  }
  form.bakery_form_1 .remembercode {
    margin-bottom: 25px;
  }
  .bakery_form_1 label, .bakery_form_2 label {
    font-size: 14px;
  }
  .form-group {
    margin: 15px 0px;
  }
  .table-bakery h2, .bakery_form_3 h2 {
    font-size: 23px;
    margin-top: 10px;
  }
  .bakery_form_2 h2 {
    font-size: 23px;
  }
  .checkmark {
    position: absolute;
    top: 5px;
    height: 30px;
      width: 30px;
  }
  .container-1 .checkmark:after {
    left: 10px;
    top: 2px;
  }
  .para01 {
    margin-top: 10px;
  }
  .bakery_form_3 h2.heading012{
    margin: 20px 0px 30px;
  }
  
  .bakery_form_2 h2.heading_2{
    margin-left: 45px;
  }
  
  .event_left_p{
    font-size: 12px;
  }
  section.bakery-gigs-section {
    padding: 50px 0;
  }
  .event-section {
    padding: 50px 0px 15px 0px;
  }
  section.bakery-events-dtl-section {
    padding: 50px 0px;
  }
  .snip1268 h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .snip1268 .price {
    font-size: 21px;
  }
  .cart-item h6 {
    font-size: 25px;
  }
  .add-to-cart .bakery-btn-style-one {
   height: 44px;
   padding: 10px 40px;
    }
    .qty input[type=text] {
      height: 44px;
    }
    .qty_inc_dec .increment, .qty_inc_dec .decrement {
      height: 20px;
    }
  }
  @media only screen and (max-width: 482px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-item img{
       height: 400px;
    }
    .carousel-inner {
        height:400px;
    }
    section.bakery-cart-section form.apply-code-form button {
      padding: 10px 15px;
    }
   
  }
  .accordion-section {
    padding: 50px 80px;
}
  @media screen and (max-width:400px) {
  
  
    form.bakery_form_1 .lost-apssword {
      position: absolute;
      left: 15px;
      top: -20px;
      right: unset;
    }
  
    form.bakery_form_1 .remembercode button {
      margin-top: 15px;
    }
  
    .bakery_form_2 h2 {
      text-indent: 0;
    }
    form.bakery_form_1 .remembercode label {
      margin-top: 20px;
    }
    .bakery_form_2 h2.heading_2{
      margin-left: 0px;
    }
  
  }
  @media (max-width: 375px) {
    .carousel-caption h1 {
        font-size: 21px;
    }
    .carousel-caption h4 {
        font-size: 14px;
    }
    .apply-code-form {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    .apply-code-form .bakery-btn-style-one {
      width: 130px;
      margin: 10px 0 0 !important; 
    }
    section.bakery-cart-section form.apply-code-form input {
      width: 100%;
      margin-right: 2px;
  }
  section.bakery-cart-section form.apply-code-form button {
    width: 100%;
    padding: 10px 15px;
  }
  .cart-item .star p {
    font-size: 13px;
  }
  .add-to-cart .bakery-btn-style-one {
  font-size: 15px;
  padding: 5px 25px;
  }
  .apply-code-form .bakery-btn-style-one {
    font-size: 15px;
    padding: 9px 13px;
    height: 39px;
  }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
   
  
    .bakery-checkout-section {
      position: relative;
      padding: 80px 0px;
    }
  
    .bakery_form_2 h2 {
      font-size: 34px;
    }
    .table-bakery h2, .bakery_form_3 h2 {
      font-size: 34px;
    }
  
  
    form.apply-code-form input {
      width: 220px;
      margin-right: 10px;
    }
    section.bakery-shopproducts-section {
      padding: 80px 0px;
    }
  
    section.bakery-blogdetails-section {
      padding: 80px 15px;
    }
    section.bakery-blog-section {
      padding: 80px 0px;
  }
    
  
    section.bakery-events-dtl-section {
      padding: 80px 15px;
    }
  
    section.bakery-events-dtl-section .event-right-side {
      margin-top: 40px;
    }
  
    section.bakery-gigs-section .gig-img {
      width: 75%;
      margin: auto;
    }
  
  }
  @media screen and (min-width: 992px) and (max-width: 1129px) {
  
   
    section.food-mission-section .col-lg-6,
    section.food-blog-section .col-lg-8 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  
  }
  @media screen and (min-width: 769px) and (max-width: 976px) {
    section.bakery-cart-section form.apply-code-form button {
      padding: 10px 7px;
      
    }
    section.bakery-cart-section form.apply-code-form button span::before{
      left: -5px;
    }
    section.bakery-cart-section form.apply-code-form button span::after{
      right: -5px;
    }
    section.bakery-cart-section form.apply-code-form button span{
      font-size: 14px;
    }
  }
  
  @media (max-width: 1440px) {
    .textOverImg {
        width: 100%;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 13px;
    }
  }
  
  
  
  
  
  
  
  
  